# Игнорируем всё тяжелое
**/target/
**/target
target/
.git/
.idea/
.vscode/
bin/
obj/
node_modules/
*.jar
*.war
*.zip
*.tar.gz

!igaming-source-888sport/target
!igaming-source-888sport/target/*.jar
!igaming-source-betsson/target
!igaming-source-betsson/target/*.jar
!igaming-source-bwin/target
!igaming-source-bwin/target/*.jar
