target/
.git/
.idea/
*.jar
*.war
node_modules/
igaming-aggregator/
igaming-bot/
igaming-portal/
igaming-source-baltbet/
igaming-source-betboom/
igaming-source-betcity/
igaming-source-betm/
igaming-source-bettery/
igaming-source-fon-bet/
igaming-source-leon/
igaming-source-ligastavok/
igaming-source-melbet/
igaming-source-olimpbet/
igaming-source-olimpbet-kz/
igaming-source-pari/
igaming-source-sportbet/
igaming-source-tennisi/
igaming-source-winline/
igaming-source-zenit/
